 @font-face{
    font-family: Kanit;
    src: url('./Kanit/Kanit-Regular.ttf'); 
}
body { 
    background:url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbDFqNWk3Z2trZnZkMWFnamh1OXJiOWl4cml1OGkwbzUyMnlmc2ZpaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Gpdjylm2smPjMCyZnw/giphy.gif)   ;
    font-family: "Kanit";
    font-family: 'Times New Roman', serif;
    background-size:auto ;

}
.container{
    width: 30%;
    height: 50% px;
    max-height:  640 px;
    max-width: 640 px;
    margin-left: auto;
    margin-right: auto;
    background:transparent;
    padding:  20px;
    box-sizing:  border-box;
    backdrop-filter: blur(10px);
    border-radius: 10px;    
    box-shadow: 0 0 50px blue;
    
}
.header{
    font-size: 30px;
    text-align:center;
    margin-bottom: 20px;
    color:white;
}
.header-form{
    width: 200px;
    margin-right: 20px;
    color:white;
}
.flex{
    display: flex;
    margin-bottom:5px;
    
}
.form-input{
    margin-bottom: 15px;
    width: 180%;
    margin-right:60%;
    color: white;
}
.form{
    margin-right:50%;
    color:white;
}
.form-input1{
    width:100%;
    color:white;
}

.form-input2{
    width:50%;
    margin-left:20%;
    margin-top: -20px;
    color:white;
}

.form-input2{
    width:150%;
}

input.form,textarea{
    border: 1px solid gray;
    width: 100%;
}
.center{
    text-align: center;
}
.button{
    border: 0;
    width: 70%;
    height: 30px;
}
.message{
    margin-buttom:10px;
    padding:10px;
    background-color:lightgray;
    display:none;
}
.message.success{
    background-color:lightgreen;
    display:block;
    
}
.message.danger {
    background-color:lightcoral;
    display:block;
}
.center_button{
    color:white;
}
@media screen and  (max-width : 768px){
    .flex{
        flex-direction: column;
    }
    .header{
        font-size: 24px;
    }
    .button{
        width: 100%;
    }
}
